data/data.zip
data/train_V5_light_classified.txt
data/test_V5_light_classified.txt
code/crfasrnn/permuto_cpp.egg-info/SOURCES.txt
code/crfasrnn/permuto_cpp.egg-info/PKG-INFO
code/crfasrnn/permuto_cpp.egg-info/dependency_links.txt
code/crfasrnn/dist/permuto_cpp-0.0.0-py3.7-linux-x86_64.egg
code/crfasrnn/build/temp.linux-x86_64-3.7/permutohedral.o
code/crfasrnn/build/temp.linux-x86_64-3.7/permuto.o
code/crfasrnn/build/temp.linux-x86_64-3.7/build.ninja
code/crfasrnn/build/temp.linux-x86_64-3.7/.ninja_log
code/crfasrnn/build/temp.linux-x86_64-3.7/.ninja_deps
code/crfasrnn/build/lib.linux-x86_64-3.7/permuto_cpp.cpython-37m-x86_64-linux-gnu.so
code/crfasrnn/__pycache__/params.cpython-37.pyc
code/crfasrnn/__pycache__/filters.cpython-37.pyc
code/crfasrnn/__pycache__/crfrnn.cpython-37.pyc
code/crfasrnn/__pycache__/crfasrnn_model.cpython-37.pyc
code/__pycache__/dataloader.cpython-37.pyc
